/* ini CSS */

body {
    background-color: silver;
}

.penjelasan {
    text-align: center;
}

.suhu-container {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.result-container {
    text-align: center;

}

input {
    max-width: 200px;
    height: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-family: math;
    font-size: 14px;
    text-align: center;
}

.button {
    height: 32px;
    border: 0px;
    border-radius: 4px;
}

.green-color {
    background-color: green;
    color: white;
}

.orange-color {
    background-color: orange;
    color: white;
}

.blue-color {
    background-color: blue;
    color: white;
}

.subject-info {
    font-size: 24px;
    font-style: italic;
    font-family: math;
}

.number-info {
    font-size: 24px;
}